<!-- Replace the email with your own formspree email -->
<form action="https://formspree.io/{{ site.formspree_email }}" method="POST" >
    <div class="form-group">
      <label for="contact_form_name">Ad Soyad:</label>
      <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="Adınızı ve Soyadınızı Giriniz">
     </div>
     <div class="form-group">
       <label for="contact_form_email">Email :</label>
      <input type="email" class="form-control" name="_replyto" id="contact_form_email" placeholder="Email Giriniz">
     </div>
     <div class="form-group">
       <label for="contact_form_message"> Mesajınız:</label>
      <textarea name="_message" class="form-control" id="contact_form_message" placeholder="Mesajınızı Giriniz"></textarea>
     </div>
      <button type="submit" value="Gönder" class="btn btn-lg btn-dark">Gönder</button>
 </form>